In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel("Epsilon.xlsx",sheet_name = "Data")
df

,Loan ID,Loan Number,New Credit Customer,Loan Application Started Date,Loan Date,First Payment Date,Maturity Date Original,Maturity Date Last,Application Signed Hour,Application Signed Weekday,...,Status,Restructured,Principal Payments Made,Interest And Penalty Payments Made,Principal Write Offs,Interest And Penalty Write Offs,Principal Balance,Interest And Penalty Balance,No. Of Previous Loans Before Loan,Rating
0,87227056-6BF9-410C-98D1-008F788E122A,349381,True,20-03-2015 15:20,27-03-2015,04-05-2015,01-04-2020,01-04-2020,15,Wednesday,...,Late,False,464.73,355.92,0.00,0.00,1035.27,2833.83,0,F
1,2DDE6336-E466-4624-A337-00A0ED1A1468,443082,True,13-12-2015 00:30,22-12-2015,01-02-2016,02-01-2020,02-01-2020,20,Wednesday,...,Late,False,0.01,0.00,0.00,0.00,1089.99,4215.37,0,G
2,BA1FC89D-44B5-4481-9FCD-00C4BBC174B0,430905,True,12-11-2015 12:58,19-11-2015,04-01-2016,01-12-2020,01-12-2020,0,Friday,...,Late,False,0.04,0.00,0.00,0.00,774.96,3283.25,0,G
3,932B0F92-8B44-499F-A056-00C6D6D1E312,473276,True,29-02-2016 10:25,29-02-2016,15-04-2016,15-03-2021,12-06-2019,15,Tuesday,...,Repaid,False,472.59,422.75,96.77,2.87,0.00,0.00,0,F
4,CDC5127D-AE6E-4BEC-9508-00FE1FB8FFE4,348441,True,17-03-2015 08:25,01-04-2015,25-05-2015,25-04-2016,25-04-2016,16,Thursday,...,Repaid,False,1000.00,403.89,0.00,0.00,0.00,0.00,0,G
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18002,7DB9654B-E768-4C7B-97DF-AD4700CFC204,2277120,False,14-06-2021 12:36,14-06-2021,13-07-2021,13-06-2022,13-06-2022,12,Tuesday,...,Current,False,38.84,12.02,NaN,NaN,492.16,0.00,1,D
18003,51CC154C-DDAE-47BE-ADE3-AD470111271A,2277407,True,14-06-2021 16:34,14-06-2021,28-06-2021,26-05-2026,26-05-2026,16,Tuesday,...,Current,False,8.63,1.59,NaN,NaN,509.37,0.00,0,D
18004,C8865378-636D-46EA-96B9-AD470123B0F2,2277513,False,14-06-2021 17:42,14-06-2021,13-07-2021,15-06-2026,15-06-2026,17,Tuesday,...,Current,False,9.94,13.86,NaN,NaN,946.06,0.00,3,B
18005,7C7A9C9C-CFA6-47C7-AB36-AD470127D3C3,2277530,True,14-06-2021 17:57,14-06-2021,01-07-2021,01-06-2026,01-06-2026,18,Tuesday,...,Current,False,51.88,14.70,NaN,NaN,3061.12,0.00,0,D
18006,9BAC37DC-01B3-42D0-B664-AD47012A2887,2277539,True,14-06-2021 18:05,14-06-2021,05-07-2021,03-06-2026,03-06-2026,18,Tuesday,...,Current,False,69.17,21.90,NaN,NaN,4080.83,0.00,0,D

In [3]:
df.describe()

,Loan Number,Application Signed Hour,Age,Applied Amount,Amount,Interest,Loan Duration,Monthly Payment,Income From Principal Employer,Income From Pension,Income Other,Liabilities Total,Probability Of Default,Principal Payments Made,Interest And Penalty Payments Made,Principal Write Offs,Interest And Penalty Write Offs,Principal Balance,Interest And Penalty Balance,No. Of Previous Loans Before Loan
count,1.800700e+04,18007.000000,18007.000000,18007.000000,18007.000000,18007.000000,18007.000000,18007.000000,18007.000000,18007.000000,18007.000000,18007.000000,18007.000000,18007.000000,18007.000000,15322.000000,15322.000000,18007.000000,18007.000000,18007.000000
mean,6.376259e+05,13.733826,39.099406,3045.509891,2672.480569,34.426073,46.330982,125.472556,941.372663,58.783584,446.846607,745.299999,0.229486,1476.254264,868.832675,68.733514,296.319895,1133.716507,2218.652432,0.899539
std,4.899150e+05,4.621094,11.726468,2508.816833,2155.283563,23.827371,16.403067,136.609617,886.366826,261.229291,2510.939606,700.883593,0.167009,1721.583811,1248.132479,401.484270,1792.077750,1707.195549,5419.909309,1.675616
min,1.587900e+04,0.000000,18.000000,139.900000,130.000000,7.270000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.001340,0.000000,0.000000,0.000000,0.000000,-11.810000,-2.660000,0.000000
25%,3.675390e+05,11.000000,30.000000,1060.000000,1060.000000,21.360000,36.000000,36.380000,0.000000,0.000000,0.000000,350.000000,0.102445,303.800000,116.190000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5.189380e+05,14.000000,38.000000,2200.000000,2125.000000,29.750000,60.000000,91.820000,820.000000,0.000000,0.000000,581.000000,0.176800,895.000000,411.420000,0.000000,0.000000,382.850000,0.000000,0.000000
75%,6.358815e+05,17.000000,47.000000,4150.000000,3505.000000,37.990000,60.000000,166.840000,1400.000000,0.000000,500.000000,968.860000,0.312118,2083.265000,1119.600000,0.000000,0.000000,1734.265000,2186.855000,1.000000
max,2.277539e+06,23.000000,71.000000,10632.000000,10632.000000,263.590000,60.000000,2368.540000,18000.000000,3706.000000,280000.000000,30000.000000,0.950478,10632.000000,16088.670000,10629.990000,66859.730000,10629.990000,71784.200000,24.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18007 entries, 0 to 18006
Data columns (total 39 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Loan ID                             18007 non-null  object
 1   Loan Number                         18007 non-null  int64
 2   New Credit Customer                 18007 non-null  bool
 3   Loan Application Started Date       18007 non-null  object
 4   Loan Date                           18007 non-null  object
 5   First Payment Date                  18007 non-null  object
 6   Maturity Date Original              18007 non-null  object
 7   Maturity Date Last                  18007 non-null  object
 8   Application Signed Hour             18007 non-null  int64
 9   Application Signed Weekday          18007 non-null  object
 10  Verification Type                   18007 non-null  object
 11  Age                                 18007 non-null  int64
 12  Gender                              18007 non-null  object
 13  Country                             18007 non-null  object
 14  Applied Amount                      18007 non-null  float64
 15  Amount                              18007 non-null  float64
 16  Interest                            18007 non-null  float64
 17  Loan Duration                       18007 non-null  int64
 18  Monthly Payment                     18007 non-null  float64
 19  Use Of Loan                         18007 non-null  object
 20  Education                           18007 non-null  object
 21  No. Of Dependants                   14234 non-null  object
 22  Work Experience                     14255 non-null  object
 23  Income From Principal Employer      18007 non-null  float64
 24  Income From Pension                 18007 non-null  int64
 25  Income Other                        18007 non-null  float64
 26  Liabilities Total                   18007 non-null  float64
 27  Last Payment On                     18007 non-null  object
 28  Probability Of Default              18007 non-null  float64
 29  Status                              18007 non-null  object
 30  Restructured                        18007 non-null  bool
 31  Principal Payments Made             18007 non-null  float64
 32  Interest And Penalty Payments Made  18007 non-null  float64
 33  Principal Write Offs                15322 non-null  float64
 34  Interest And Penalty Write Offs     15322 non-null  float64
 35  Principal Balance                   18007 non-null  float64
 36  Interest And Penalty Balance        18007 non-null  float64
 37  No. Of Previous Loans Before Loan   18007 non-null  int64
 38  Rating                              18007 non-null  object
dtypes: bool(2), float64(14), int64(6), object(17)
memory usage: 5.1+ MB

### Checking for the missing values

In [5]:
df.isna().sum()

Loan ID                                  0
Loan Number                              0
New Credit Customer                      0
Loan Application Started Date            0
Loan Date                                0
First Payment Date                       0
Maturity Date Original                   0
Maturity Date Last                       0
Application Signed Hour                  0
Application Signed Weekday               0
Verification Type                        0
Age                                      0
Gender                                   0
Country                                  0
Applied Amount                           0
Amount                                   0
Interest                                 0
Loan Duration                            0
Monthly Payment                          0
Use Of Loan                              0
Education                                0
No. Of Dependants                     3773
Work Experience                       3752
Income From Principal Employer           0
Income From Pension                      0
Income Other                             0
Liabilities Total                        0
Last Payment On                          0
Probability Of Default                   0
Status                                   0
Restructured                             0
Principal Payments Made                  0
Interest And Penalty Payments Made       0
Principal Write Offs                  2685
Interest And Penalty Write Offs       2685
Principal Balance                        0
Interest And Penalty Balance             0
No. Of Previous Loans Before Loan        0
Rating                                   0
dtype: int64

### Checking for duplicates

In [6]:
df.duplicated().sum()

0

### So, there are no duplicates in our dataset.

In [7]:
df.nunique()

Loan ID                               18007
Loan Number                           18007
New Credit Customer                       2
Loan Application Started Date         17896
Loan Date                              2552
First Payment Date                     1504
Maturity Date Original                 2037
Maturity Date Last                     2319
Application Signed Hour                  24
Application Signed Weekday                7
Verification Type                         4
Age                                      54
Gender                                    2
Country                                   4
Applied Amount                          350
Amount                                 1528
Interest                               3803
Loan Duration                            12
Monthly Payment                       10367
Use Of Loan                               9
Education                                 5
No. Of Dependants                        10
Work Experience                           6
Income From Principal Employer         2176
Income From Pension                     663
Income Other                           1265
Liabilities Total                      9308
Last Payment On                        2094
Probability Of Default                 6144
Status                                    3
Restructured                              2
Principal Payments Made               11263
Interest And Penalty Payments Made    15533
Principal Write Offs                   1706
Interest And Penalty Write Offs        1897
Principal Balance                      9401
Interest And Penalty Balance           7979
No. Of Previous Loans Before Loan        23
Rating                                    8
dtype: int64

### Dealing with missing values

In [8]:
df['No. Of Dependants'] = df['No. Of Dependants'].fillna('No record found')
df['Work Experience'] = df['Work Experience'].fillna('No record found')
df['Principal Write Offs'] = df['Principal Write Offs'].fillna('No record found')
df['Interest And Penalty Write Offs'] = df['Interest And Penalty Write Offs'].fillna('No record found')

In [9]:
df

,Loan ID,Loan Number,New Credit Customer,Loan Application Started Date,Loan Date,First Payment Date,Maturity Date Original,Maturity Date Last,Application Signed Hour,Application Signed Weekday,...,Status,Restructured,Principal Payments Made,Interest And Penalty Payments Made,Principal Write Offs,Interest And Penalty Write Offs,Principal Balance,Interest And Penalty Balance,No. Of Previous Loans Before Loan,Rating
0,87227056-6BF9-410C-98D1-008F788E122A,349381,True,20-03-2015 15:20,27-03-2015,04-05-2015,01-04-2020,01-04-2020,15,Wednesday,...,Late,False,464.73,355.92,0.0,0.0,1035.27,2833.83,0,F
1,2DDE6336-E466-4624-A337-00A0ED1A1468,443082,True,13-12-2015 00:30,22-12-2015,01-02-2016,02-01-2020,02-01-2020,20,Wednesday,...,Late,False,0.01,0.00,0.0,0.0,1089.99,4215.37,0,G
2,BA1FC89D-44B5-4481-9FCD-00C4BBC174B0,430905,True,12-11-2015 12:58,19-11-2015,04-01-2016,01-12-2020,01-12-2020,0,Friday,...,Late,False,0.04,0.00,0.0,0.0,774.96,3283.25,0,G
3,932B0F92-8B44-499F-A056-00C6D6D1E312,473276,True,29-02-2016 10:25,29-02-2016,15-04-2016,15-03-2021,12-06-2019,15,Tuesday,...,Repaid,False,472.59,422.75,96.77,2.87,0.00,0.00,0,F
4,CDC5127D-AE6E-4BEC-9508-00FE1FB8FFE4,348441,True,17-03-2015 08:25,01-04-2015,25-05-2015,25-04-2016,25-04-2016,16,Thursday,...,Repaid,False,1000.00,403.89,0.0,0.0,0.00,0.00,0,G
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18002,7DB9654B-E768-4C7B-97DF-AD4700CFC204,2277120,False,14-06-2021 12:36,14-06-2021,13-07-2021,13-06-2022,13-06-2022,12,Tuesday,...,Current,False,38.84,12.02,No record found,No record found,492.16,0.00,1,D
18003,51CC154C-DDAE-47BE-ADE3-AD470111271A,2277407,True,14-06-2021 16:34,14-06-2021,28-06-2021,26-05-2026,26-05-2026,16,Tuesday,...,Current,False,8.63,1.59,No record found,No record found,509.37,0.00,0,D
18004,C8865378-636D-46EA-96B9-AD470123B0F2,2277513,False,14-06-2021 17:42,14-06-2021,13-07-2021,15-06-2026,15-06-2026,17,Tuesday,...,Current,False,9.94,13.86,No record found,No record found,946.06,0.00,3,B
18005,7C7A9C9C-CFA6-47C7-AB36-AD470127D3C3,2277530,True,14-06-2021 17:57,14-06-2021,01-07-2021,01-06-2026,01-06-2026,18,Tuesday,...,Current,False,51.88,14.70,No record found,No record found,3061.12,0.00,0,D
18006,9BAC37DC-01B3-42D0-B664-AD47012A2887,2277539,True,14-06-2021 18:05,14-06-2021,05-07-2021,03-06-2026,03-06-2026,18,Tuesday,...,Current,False,69.17,21.90,No record found,No record found,4080.83,0.00,0,D

In [10]:
df.isna().sum()

Loan ID                               0
Loan Number                           0
New Credit Customer                   0
Loan Application Started Date         0
Loan Date                             0
First Payment Date                    0
Maturity Date Original                0
Maturity Date Last                    0
Application Signed Hour               0
Application Signed Weekday            0
Verification Type                     0
Age                                   0
Gender                                0
Country                               0
Applied Amount                        0
Amount                                0
Interest                              0
Loan Duration                         0
Monthly Payment                       0
Use Of Loan                           0
Education                             0
No. Of Dependants                     0
Work Experience                       0
Income From Principal Employer        0
Income From Pension                   0
Income Other                          0
Liabilities Total                     0
Last Payment On                       0
Probability Of Default                0
Status                                0
Restructured                          0
Principal Payments Made               0
Interest And Penalty Payments Made    0
Principal Write Offs                  0
Interest And Penalty Write Offs       0
Principal Balance                     0
Interest And Penalty Balance          0
No. Of Previous Loans Before Loan     0
Rating                                0
dtype: int64

### Dropping the redundant columns which we don't need for our analysis

In [11]:
df.drop('Loan ID',axis = 1,inplace=True)

In [12]:
df.drop('Application Signed Hour',axis=1,inplace=True)

In [13]:
df.drop('Application Signed Weekday',axis=1,inplace=True)

In [14]:
df

,Loan Number,New Credit Customer,Loan Application Started Date,Loan Date,First Payment Date,Maturity Date Original,Maturity Date Last,Verification Type,Age,Gender,...,Status,Restructured,Principal Payments Made,Interest And Penalty Payments Made,Principal Write Offs,Interest And Penalty Write Offs,Principal Balance,Interest And Penalty Balance,No. Of Previous Loans Before Loan,Rating
0,349381,True,20-03-2015 15:20,27-03-2015,04-05-2015,01-04-2020,01-04-2020,III,42,Male,...,Late,False,464.73,355.92,0.0,0.0,1035.27,2833.83,0,F
1,443082,True,13-12-2015 00:30,22-12-2015,01-02-2016,02-01-2020,02-01-2020,IV,34,Female,...,Late,False,0.01,0.00,0.0,0.0,1089.99,4215.37,0,G
2,430905,True,12-11-2015 12:58,19-11-2015,04-01-2016,01-12-2020,01-12-2020,IV,31,Female,...,Late,False,0.04,0.00,0.0,0.0,774.96,3283.25,0,G
3,473276,True,29-02-2016 10:25,29-02-2016,15-04-2016,15-03-2021,12-06-2019,III,22,Male,...,Repaid,False,472.59,422.75,96.77,2.87,0.00,0.00,0,F
4,348441,True,17-03-2015 08:25,01-04-2015,25-05-2015,25-04-2016,25-04-2016,I,47,Male,...,Repaid,False,1000.00,403.89,0.0,0.0,0.00,0.00,0,G
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18002,2277120,False,14-06-2021 12:36,14-06-2021,13-07-2021,13-06-2022,13-06-2022,IV,21,Male,...,Current,False,38.84,12.02,No record found,No record found,492.16,0.00,1,D
18003,2277407,True,14-06-2021 16:34,14-06-2021,28-06-2021,26-05-2026,26-05-2026,IV,29,Female,...,Current,False,8.63,1.59,No record found,No record found,509.37,0.00,0,D
18004,2277513,False,14-06-2021 17:42,14-06-2021,13-07-2021,15-06-2026,15-06-2026,IV,39,Male,...,Current,False,9.94,13.86,No record found,No record found,946.06,0.00,3,B
18005,2277530,True,14-06-2021 17:57,14-06-2021,01-07-2021,01-06-2026,01-06-2026,IV,44,Male,...,Current,False,51.88,14.70,No record found,No record found,3061.12,0.00,0,D
18006,2277539,True,14-06-2021 18:05,14-06-2021,05-07-2021,03-06-2026,03-06-2026,IV,46,Male,...,Current,False,69.17,21.90,No record found,No record found,4080.83,0.00,0,D

### Extracting the year from Loan Application started date column

In [15]:
df['Loan Application Started Date'] = pd.DatetimeIndex(df['Loan Application Started Date']).date
df['Loan Application Started Date'].head()

0    2015-03-20
1    2015-12-13
2    2015-12-11
3    2016-02-29
4    2015-03-17
Name: Loan Application Started Date, dtype: object

In [16]:
df

,Loan Number,New Credit Customer,Loan Application Started Date,Loan Date,First Payment Date,Maturity Date Original,Maturity Date Last,Verification Type,Age,Gender,...,Status,Restructured,Principal Payments Made,Interest And Penalty Payments Made,Principal Write Offs,Interest And Penalty Write Offs,Principal Balance,Interest And Penalty Balance,No. Of Previous Loans Before Loan,Rating
0,349381,True,2015-03-20,27-03-2015,04-05-2015,01-04-2020,01-04-2020,III,42,Male,...,Late,False,464.73,355.92,0.0,0.0,1035.27,2833.83,0,F
1,443082,True,2015-12-13,22-12-2015,01-02-2016,02-01-2020,02-01-2020,IV,34,Female,...,Late,False,0.01,0.00,0.0,0.0,1089.99,4215.37,0,G
2,430905,True,2015-12-11,19-11-2015,04-01-2016,01-12-2020,01-12-2020,IV,31,Female,...,Late,False,0.04,0.00,0.0,0.0,774.96,3283.25,0,G
3,473276,True,2016-02-29,29-02-2016,15-04-2016,15-03-2021,12-06-2019,III,22,Male,...,Repaid,False,472.59,422.75,96.77,2.87,0.00,0.00,0,F
4,348441,True,2015-03-17,01-04-2015,25-05-2015,25-04-2016,25-04-2016,I,47,Male,...,Repaid,False,1000.00,403.89,0.0,0.0,0.00,0.00,0,G
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18002,2277120,False,2021-06-14,14-06-2021,13-07-2021,13-06-2022,13-06-2022,IV,21,Male,...,Current,False,38.84,12.02,No record found,No record found,492.16,0.00,1,D
18003,2277407,True,2021-06-14,14-06-2021,28-06-2021,26-05-2026,26-05-2026,IV,29,Female,...,Current,False,8.63,1.59,No record found,No record found,509.37,0.00,0,D
18004,2277513,False,2021-06-14,14-06-2021,13-07-2021,15-06-2026,15-06-2026,IV,39,Male,...,Current,False,9.94,13.86,No record found,No record found,946.06,0.00,3,B
18005,2277530,True,2021-06-14,14-06-2021,01-07-2021,01-06-2026,01-06-2026,IV,44,Male,...,Current,False,51.88,14.70,No record found,No record found,3061.12,0.00,0,D
18006,2277539,True,2021-06-14,14-06-2021,05-07-2021,03-06-2026,03-06-2026,IV,46,Male,...,Current,False,69.17,21.90,No record found,No record found,4080.83,0.00,0,D

### Discretization of Age column

In [17]:
df['Age'].min()

18

In [18]:
df['Age'].max()

71

In [20]:
binning.codes

array([1, 0, 0, ..., 0, 1, 1], dtype=int8)

In [21]:
binning.categories

IntervalIndex([(17, 40], (40, 60], (60, 75]], dtype='interval[int64, right]')

In [22]:
pd.value_counts(binning)

(17, 40]    10538
(40, 60]     6494
(60, 75]      975
dtype: int64

In [23]:
group_names = ['Adult','Middle age adult','Senior citizen']
pd.cut(Age,bins,labels=group_names)

['Middle age adult', 'Adult', 'Adult', 'Adult', 'Middle age adult', ..., 'Adult', 'Adult', 'Adult', 'Middle age adult', 'Middle age adult']
Length: 18007
Categories (3, object): ['Adult' < 'Middle age adult' < 'Senior citizen']

In [24]:
df['Age group'] = pd.cut(df['Age'],bins,labels = group_names)
df.head()

,Loan Number,New Credit Customer,Loan Application Started Date,Loan Date,First Payment Date,Maturity Date Original,Maturity Date Last,Verification Type,Age,Gender,...,Restructured,Principal Payments Made,Interest And Penalty Payments Made,Principal Write Offs,Interest And Penalty Write Offs,Principal Balance,Interest And Penalty Balance,No. Of Previous Loans Before Loan,Rating,Age group
0,349381,True,2015-03-20,27-03-2015,04-05-2015,01-04-2020,01-04-2020,III,42,Male,...,False,464.73,355.92,0.0,0.0,1035.27,2833.83,0,F,Middle age adult
1,443082,True,2015-12-13,22-12-2015,01-02-2016,02-01-2020,02-01-2020,IV,34,Female,...,False,0.01,0.00,0.0,0.0,1089.99,4215.37,0,G,Adult
2,430905,True,2015-12-11,19-11-2015,04-01-2016,01-12-2020,01-12-2020,IV,31,Female,...,False,0.04,0.00,0.0,0.0,774.96,3283.25,0,G,Adult
3,473276,True,2016-02-29,29-02-2016,15-04-2016,15-03-2021,12-06-2019,III,22,Male,...,False,472.59,422.75,96.77,2.87,0.00,0.00,0,F,Adult
4,348441,True,2015-03-17,01-04-2015,25-05-2015,25-04-2016,25-04-2016,I,47,Male,...,False,1000.00,403.89,0.0,0.0,0.00,0.00,0,G,Middle age adult

In [25]:
df.drop('Age',axis=1,inplace=True)

In [26]:
df

,Loan Number,New Credit Customer,Loan Application Started Date,Loan Date,First Payment Date,Maturity Date Original,Maturity Date Last,Verification Type,Gender,Country,...,Restructured,Principal Payments Made,Interest And Penalty Payments Made,Principal Write Offs,Interest And Penalty Write Offs,Principal Balance,Interest And Penalty Balance,No. Of Previous Loans Before Loan,Rating,Age group
0,349381,True,2015-03-20,27-03-2015,04-05-2015,01-04-2020,01-04-2020,III,Male,India,...,False,464.73,355.92,0.0,0.0,1035.27,2833.83,0,F,Middle age adult
1,443082,True,2015-12-13,22-12-2015,01-02-2016,02-01-2020,02-01-2020,IV,Female,India,...,False,0.01,0.00,0.0,0.0,1089.99,4215.37,0,G,Adult
2,430905,True,2015-12-11,19-11-2015,04-01-2016,01-12-2020,01-12-2020,IV,Female,India,...,False,0.04,0.00,0.0,0.0,774.96,3283.25,0,G,Adult
3,473276,True,2016-02-29,29-02-2016,15-04-2016,15-03-2021,12-06-2019,III,Male,United States,...,False,472.59,422.75,96.77,2.87,0.00,0.00,0,F,Adult
4,348441,True,2015-03-17,01-04-2015,25-05-2015,25-04-2016,25-04-2016,I,Male,India,...,False,1000.00,403.89,0.0,0.0,0.00,0.00,0,G,Middle age adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18002,2277120,False,2021-06-14,14-06-2021,13-07-2021,13-06-2022,13-06-2022,IV,Male,United States,...,False,38.84,12.02,No record found,No record found,492.16,0.00,1,D,Adult
18003,2277407,True,2021-06-14,14-06-2021,28-06-2021,26-05-2026,26-05-2026,IV,Female,United Kingdom,...,False,8.63,1.59,No record found,No record found,509.37,0.00,0,D,Adult
18004,2277513,False,2021-06-14,14-06-2021,13-07-2021,15-06-2026,15-06-2026,IV,Male,United States,...,False,9.94,13.86,No record found,No record found,946.06,0.00,3,B,Adult
18005,2277530,True,2021-06-14,14-06-2021,01-07-2021,01-06-2026,01-06-2026,IV,Male,United Kingdom,...,False,51.88,14.70,No record found,No record found,3061.12,0.00,0,D,Middle age adult
18006,2277539,True,2021-06-14,14-06-2021,05-07-2021,03-06-2026,03-06-2026,IV,Male,United Kingdom,...,False,69.17,21.90,No record found,No record found,4080.83,0.00,0,D,Middle age adult

In [27]:
df.columns

Index(['Loan Number', 'New Credit Customer', 'Loan Application Started Date',
       'Loan Date', 'First Payment Date', 'Maturity Date Original',
       'Maturity Date Last', 'Verification Type', 'Gender', 'Country',
       'Applied Amount', 'Amount', 'Interest', 'Loan Duration',
       'Monthly Payment', 'Use Of Loan', 'Education', 'No. Of Dependants',
       'Work Experience', 'Income From Principal Employer',
       'Income From Pension', 'Income Other', 'Liabilities Total',
       'Last Payment On', 'Probability Of Default', 'Status', 'Restructured',
       'Principal Payments Made', 'Interest And Penalty Payments Made',
       'Principal Write Offs', 'Interest And Penalty Write Offs',
       'Principal Balance', 'Interest And Penalty Balance',
       'No. Of Previous Loans Before Loan', 'Rating', 'Age group'],
      dtype='object')

### Discretization of Probability of default column

In [28]:
df['Probability Of Default'] = df['Probability Of Default'] * 100
df['Probability Of Default']

0        18.872625
1        74.951122
2        45.318175
3        40.803591
4        45.318175
           ...
18002    16.700000
18003    12.424000
18004     9.090000
18005    12.424000
18006    12.424000
Name: Probability Of Default, Length: 18007, dtype: float64

In [29]:
df['Probability Of Default'].min()

0.134

In [30]:
df['Probability Of Default'].max()

95.0478287

In [37]:
df.rename(columns={'Probability Of Default':'Percentage_defaulting'},inplace=True)
df

,Loan Number,New Credit Customer,Loan Application Started Date,Loan Date,First Payment Date,Maturity Date Original,Maturity Date Last,Verification Type,Gender,Country,...,Restructured,Principal Payments Made,Interest And Penalty Payments Made,Principal Write Offs,Interest And Penalty Write Offs,Principal Balance,Interest And Penalty Balance,No. Of Previous Loans Before Loan,Rating,Age group
0,349381,True,2015-03-20,27-03-2015,04-05-2015,01-04-2020,01-04-2020,III,Male,India,...,False,464.73,355.92,0.0,0.0,1035.27,2833.83,0,F,Middle age adult
1,443082,True,2015-12-13,22-12-2015,01-02-2016,02-01-2020,02-01-2020,IV,Female,India,...,False,0.01,0.00,0.0,0.0,1089.99,4215.37,0,G,Adult
2,430905,True,2015-12-11,19-11-2015,04-01-2016,01-12-2020,01-12-2020,IV,Female,India,...,False,0.04,0.00,0.0,0.0,774.96,3283.25,0,G,Adult
3,473276,True,2016-02-29,29-02-2016,15-04-2016,15-03-2021,12-06-2019,III,Male,United States,...,False,472.59,422.75,96.77,2.87,0.00,0.00,0,F,Adult
4,348441,True,2015-03-17,01-04-2015,25-05-2015,25-04-2016,25-04-2016,I,Male,India,...,False,1000.00,403.89,0.0,0.0,0.00,0.00,0,G,Middle age adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18002,2277120,False,2021-06-14,14-06-2021,13-07-2021,13-06-2022,13-06-2022,IV,Male,United States,...,False,38.84,12.02,No record found,No record found,492.16,0.00,1,D,Adult
18003,2277407,True,2021-06-14,14-06-2021,28-06-2021,26-05-2026,26-05-2026,IV,Female,United Kingdom,...,False,8.63,1.59,No record found,No record found,509.37,0.00,0,D,Adult
18004,2277513,False,2021-06-14,14-06-2021,13-07-2021,15-06-2026,15-06-2026,IV,Male,United States,...,False,9.94,13.86,No record found,No record found,946.06,0.00,3,B,Adult
18005,2277530,True,2021-06-14,14-06-2021,01-07-2021,01-06-2026,01-06-2026,IV,Male,United Kingdom,...,False,51.88,14.70,No record found,No record found,3061.12,0.00,0,D,Middle age adult
18006,2277539,True,2021-06-14,14-06-2021,05-07-2021,03-06-2026,03-06-2026,IV,Male,United Kingdom,...,False,69.17,21.90,No record found,No record found,4080.83,0.00,0,D,Middle age adult

In [38]:
df.columns

Index(['Loan Number', 'New Credit Customer', 'Loan Application Started Date',
       'Loan Date', 'First Payment Date', 'Maturity Date Original',
       'Maturity Date Last', 'Verification Type', 'Gender', 'Country',
       'Applied Amount', 'Amount', 'Interest', 'Loan Duration',
       'Monthly Payment', 'Use Of Loan', 'Education', 'No. Of Dependants',
       'Work Experience', 'Income From Principal Employer',
       'Income From Pension', 'Income Other', 'Liabilities Total',
       'Last Payment On', 'Percentage_defaulting', 'Status', 'Restructured',
       'Principal Payments Made', 'Interest And Penalty Payments Made',
       'Principal Write Offs', 'Interest And Penalty Write Offs',
       'Principal Balance', 'Interest And Penalty Balance',
       'No. Of Previous Loans Before Loan', 'Rating', 'Age group'],
      dtype='object')

In [43]:
bins = [0,20,60,100]
Percentage_defaulting = list(df['Percentage_defaulting'])
binning = pd.cut(Percentage_defaulting,bins)
binning

[(0, 20], (60, 100], (20, 60], (20, 60], (20, 60], ..., (0, 20], (0, 20], (0, 20], (0, 20], (0, 20]]
Length: 18007
Categories (3, interval[int64, right]): [(0, 20] < (20, 60] < (60, 100]]

In [44]:
binning.codes

array([0, 2, 1, ..., 0, 0, 0], dtype=int8)

In [45]:
binning.categories

IntervalIndex([(0, 20], (20, 60], (60, 100]], dtype='interval[int64, right]')

In [46]:
pd.value_counts(binning)

(0, 20]      9959
(20, 60]     7232
(60, 100]     816
dtype: int64

In [47]:
group_names = ['Low probability','Moderate probability','High probability']
pd.cut(Percentage_defaulting,bins,labels=group_names)

['Low probability', 'High probability', 'Moderate probability', 'Moderate probability', 'Moderate probability', ..., 'Low probability', 'Low probability', 'Low probability', 'Low probability', 'Low probability']
Length: 18007
Categories (3, object): ['Low probability' < 'Moderate probability' < 'High probability']

In [48]:
df['Defaulting_on_loan'] = pd.cut(df['Percentage_defaulting'],bins,labels = group_names)
df.head()

,Loan Number,New Credit Customer,Loan Application Started Date,Loan Date,First Payment Date,Maturity Date Original,Maturity Date Last,Verification Type,Gender,Country,...,Principal Payments Made,Interest And Penalty Payments Made,Principal Write Offs,Interest And Penalty Write Offs,Principal Balance,Interest And Penalty Balance,No. Of Previous Loans Before Loan,Rating,Age group,Defaulting_on_loan
0,349381,True,2015-03-20,27-03-2015,04-05-2015,01-04-2020,01-04-2020,III,Male,India,...,464.73,355.92,0.0,0.0,1035.27,2833.83,0,F,Middle age adult,Low probability
1,443082,True,2015-12-13,22-12-2015,01-02-2016,02-01-2020,02-01-2020,IV,Female,India,...,0.01,0.00,0.0,0.0,1089.99,4215.37,0,G,Adult,High probability
2,430905,True,2015-12-11,19-11-2015,04-01-2016,01-12-2020,01-12-2020,IV,Female,India,...,0.04,0.00,0.0,0.0,774.96,3283.25,0,G,Adult,Moderate probability
3,473276,True,2016-02-29,29-02-2016,15-04-2016,15-03-2021,12-06-2019,III,Male,United States,...,472.59,422.75,96.77,2.87,0.00,0.00,0,F,Adult,Moderate probability
4,348441,True,2015-03-17,01-04-2015,25-05-2015,25-04-2016,25-04-2016,I,Male,India,...,1000.00,403.89,0.0,0.0,0.00,0.00,0,G,Middle age adult,Moderate probability

In [49]:
df

,Loan Number,New Credit Customer,Loan Application Started Date,Loan Date,First Payment Date,Maturity Date Original,Maturity Date Last,Verification Type,Gender,Country,...,Principal Payments Made,Interest And Penalty Payments Made,Principal Write Offs,Interest And Penalty Write Offs,Principal Balance,Interest And Penalty Balance,No. Of Previous Loans Before Loan,Rating,Age group,Defaulting_on_loan
0,349381,True,2015-03-20,27-03-2015,04-05-2015,01-04-2020,01-04-2020,III,Male,India,...,464.73,355.92,0.0,0.0,1035.27,2833.83,0,F,Middle age adult,Low probability
1,443082,True,2015-12-13,22-12-2015,01-02-2016,02-01-2020,02-01-2020,IV,Female,India,...,0.01,0.00,0.0,0.0,1089.99,4215.37,0,G,Adult,High probability
2,430905,True,2015-12-11,19-11-2015,04-01-2016,01-12-2020,01-12-2020,IV,Female,India,...,0.04,0.00,0.0,0.0,774.96,3283.25,0,G,Adult,Moderate probability
3,473276,True,2016-02-29,29-02-2016,15-04-2016,15-03-2021,12-06-2019,III,Male,United States,...,472.59,422.75,96.77,2.87,0.00,0.00,0,F,Adult,Moderate probability
4,348441,True,2015-03-17,01-04-2015,25-05-2015,25-04-2016,25-04-2016,I,Male,India,...,1000.00,403.89,0.0,0.0,0.00,0.00,0,G,Middle age adult,Moderate probability
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18002,2277120,False,2021-06-14,14-06-2021,13-07-2021,13-06-2022,13-06-2022,IV,Male,United States,...,38.84,12.02,No record found,No record found,492.16,0.00,1,D,Adult,Low probability
18003,2277407,True,2021-06-14,14-06-2021,28-06-2021,26-05-2026,26-05-2026,IV,Female,United Kingdom,...,8.63,1.59,No record found,No record found,509.37,0.00,0,D,Adult,Low probability
18004,2277513,False,2021-06-14,14-06-2021,13-07-2021,15-06-2026,15-06-2026,IV,Male,United States,...,9.94,13.86,No record found,No record found,946.06,0.00,3,B,Adult,Low probability
18005,2277530,True,2021-06-14,14-06-2021,01-07-2021,01-06-2026,01-06-2026,IV,Male,United Kingdom,...,51.88,14.70,No record found,No record found,3061.12,0.00,0,D,Middle age adult,Low probability
18006,2277539,True,2021-06-14,14-06-2021,05-07-2021,03-06-2026,03-06-2026,IV,Male,United Kingdom,...,69.17,21.90,No record found,No record found,4080.83,0.00,0,D,Middle age adult,Low probability

### Exporting the data to Excel

In [52]:
df.to_excel('Epsilon.xlsx',sheet_name = 'New_Data',index=False)